.menu-bar {
    -fx-background-color: #34373D;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
}

.menu-item{
    -fx-background-color:#383c4a;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: #16a085;
    -fx-text-fill: white;
}

.menu-item:focused .label {
    -fx-text-fill: white;
    -fx-background-color:#16a085;
}


.menu .context-menu { -fx-padding: 0 0 0 0; }

.menu-button:showing, .menu:hover {
    -fx-background-color:#383c4a;
}